*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
body{
    overflow: hidden;
}
.container{
    height: 572px; 
    width: 100%;
    background-color: black;
}
.website{
    width: 100%;
margin-top: -20px;
    padding: 10px;
    display: flex;
}
.website img{
    margin-right: 50px;

}
.bottom h4{
    color: white;
}

.image1{
 width: 100%;
 display: flex;
 justify-content: flex-end;
}
@keyframes noel {
    0%  {opacity:1; right:30px;}
    50% {opacity: 1}
    100%  {opacity:0; right: 90%;}

}

  
.image1 img{
    animation-name: noel;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    position:relative;
  
}
.title{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    

}
 h1{
    /* animation-name: titleanimation;
    animation-duration: 7s;
    animation-iteration-count: infinite; */
   animation: title 15s infinite alternate;
    color: red; 
}

@keyframes title{
   0%{opacity:0;color: red;}
   75%{opacity:0.5;color:blueviolet}
   100%{opacity:1;color:rgb(129, 228, 15)}

}
iframe{
    display: none;
}